<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463220700899-dsmioc52md3q07nklkqt61iljgs1jle3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463220700899-dsmioc52md3q07nklkqt61iljgs1jle3</string>
	<key>API_KEY</key>
	<string>AIzaSyBYvbBD2U95o9ZogjVe5ORgykwxnS766nA</string>
	<key>GCM_SENDER_ID</key>
	<string>463220700899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devsbuddy.flutterMvc</string>
	<key>PROJECT_ID</key>
	<string>oncofix</string>
	<key>STORAGE_BUCKET</key>
	<string>oncofix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463220700899:ios:d90b62a281e63e251d77d6</string>
</dict>
</plist>